.line-hr {
  border: 3px solid black;
  border-radius: 32px;
}

.col-input {
  width: 8vh !important;
  text-align: center;
}

.indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.yellowgreen {
  background-color: yellowgreen;
}

.hint-btn {
  border-radius: 32px !important;
}

.init-row {
  border-radius: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  box-shadow: -5px -5px 20px #d4d4d4;
}
