.row-init {
  margin-bottom: 10px;
}

.input-span {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 32px;
  width: 100vh;
}

.leftside {
  font-weight: bolder !important;
  color: black !important;
  padding-top: 7px;
  padding-left: 10px;
}

.input-init {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black !important;
  font-size: 1.25em !important;
  font-weight: bolder !important;
  border: none !important;
  box-shadow: none !important;
  width: 40vh !important;
  margin-left: 90px;
}

.hint-b {
  position: relative;
  border-radius: 50% !important;
  width: 7vh !important;
  left: -10px !important;
}

.check-btn {
  border-radius: 32px !important;
  margin-left: 10px;
}
