.main-col {
}

.init-input {
  text-align: right;
  font-size: larger !important;
  box-shadow: none !important;
  font-weight: bold !important;
  border: none !important;
}

.hr-l {
  border: 3px solid black;
  border-radius: 32px;
  width: 24%;
}

.svg-math {
  text-align: center;
  margin-right: -180px;
}

.res {
  text-align: center;
  margin-right: -200px;
}
